.brand{
  color:aliceblue;
  text-decoration: none;
}

.category{
  text-decoration: none;
  color: aliceblue;
}

.nav-link{
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.car-counter{
  color: aliceblue;
}