.categories{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  perspective: 200px;

  .categories-bubbles-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .categories-buble-container__icon{
      width: 50px;
      height: 50px;
      color: rgb(64, 64, 175);
      fill: rgb(64, 64, 175);
      background-color: aliceblue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .categories-buble-container__icon:hover{
      background-color: rgb(231, 222, 222);
    }
  }
}


